//! **************************************************************************
// Written by: Map O.61xd on Sun Nov 30 18:31:29 2014
//! **************************************************************************

SCHEMATIC START;
COMP "Ca" LOCATE = SITE "T17" LEVEL 1;
COMP "Cb" LOCATE = SITE "T18" LEVEL 1;
COMP "Cc" LOCATE = SITE "U17" LEVEL 1;
COMP "Cd" LOCATE = SITE "U18" LEVEL 1;
COMP "Ce" LOCATE = SITE "M14" LEVEL 1;
COMP "Cf" LOCATE = SITE "N14" LEVEL 1;
COMP "Cg" LOCATE = SITE "L14" LEVEL 1;
COMP "Dp" LOCATE = SITE "M13" LEVEL 1;
COMP "An0" LOCATE = SITE "N16" LEVEL 1;
COMP "An1" LOCATE = SITE "N15" LEVEL 1;
COMP "An2" LOCATE = SITE "P18" LEVEL 1;
COMP "An3" LOCATE = SITE "P17" LEVEL 1;
COMP "Ld0" LOCATE = SITE "U16" LEVEL 1;
COMP "Ld1" LOCATE = SITE "V16" LEVEL 1;
COMP "Ld2" LOCATE = SITE "U15" LEVEL 1;
COMP "Ld3" LOCATE = SITE "V15" LEVEL 1;
COMP "Ld4" LOCATE = SITE "M11" LEVEL 1;
COMP "Ld5" LOCATE = SITE "N11" LEVEL 1;
COMP "Ld7" LOCATE = SITE "T11" LEVEL 1;
COMP "Sw0" LOCATE = SITE "T10" LEVEL 1;
COMP "Sw1" LOCATE = SITE "T9" LEVEL 1;
COMP "ClkPort" LOCATE = SITE "V10" LEVEL 1;
COMP "BtnD" LOCATE = SITE "C9" LEVEL 1;
COMP "BtnL" LOCATE = SITE "C4" LEVEL 1;
COMP "BtnU" LOCATE = SITE "A8" LEVEL 1;
COMP "vga_h_sync" LOCATE = SITE "N6" LEVEL 1;
COMP "vga_v_sync" LOCATE = SITE "P7" LEVEL 1;
COMP "vga_b" LOCATE = SITE "R7" LEVEL 1;
COMP "vga_g" LOCATE = SITE "P8" LEVEL 1;
COMP "vga_r" LOCATE = SITE "U7" LEVEL 1;
COMP "Mt_St_oe_bar" LOCATE = SITE "L18" LEVEL 1;
COMP "Mt_St_we_bar" LOCATE = SITE "M16" LEVEL 1;
COMP "Mt_ce_bar" LOCATE = SITE "L15" LEVEL 1;
COMP "St_ce_bar" LOCATE = SITE "L17" LEVEL 1;
COMP "St_rp_bar" LOCATE = SITE "V3" LEVEL 1;
COMP "Ld6" LOCATE = SITE "R11" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "DIV_CLK_0" BEL "DIV_CLK_1" BEL "DIV_CLK_2" BEL
        "DIV_CLK_3" BEL "DIV_CLK_4" BEL "DIV_CLK_5" BEL "DIV_CLK_6" BEL
        "DIV_CLK_7" BEL "DIV_CLK_8" BEL "DIV_CLK_9" BEL "DIV_CLK_10" BEL
        "DIV_CLK_11" BEL "DIV_CLK_12" BEL "DIV_CLK_13" BEL "DIV_CLK_14" BEL
        "DIV_CLK_15" BEL "DIV_CLK_16" BEL "DIV_CLK_17" BEL "DIV_CLK_18" BEL
        "DIV_CLK_19" BEL "DIV_CLK_20" BEL "DIV_CLK_21" BEL "DIV_CLK_22" BEL
        "DIV_CLK_23" BEL "DIV_CLK_24" BEL "DIV_CLK_25" BEL "BUFGP1/BUFG" BEL
        "ee201_debouncer_1/state_FSM_FFd1" BEL
        "ee201_debouncer_1/state_FSM_FFd2" BEL
        "ee201_debouncer_1/state_FSM_FFd3" BEL
        "ee201_debouncer_1/state_FSM_FFd4" BEL
        "ee201_debouncer_1/state_FSM_FFd5" BEL
        "ee201_debouncer_1/state_FSM_FFd6" BEL
        "ee201_debouncer_1/MCEN_count_3" BEL "ee201_debouncer_1/MCEN_count_2"
        BEL "ee201_debouncer_1/MCEN_count_1" BEL
        "ee201_debouncer_1/MCEN_count_0" BEL
        "ee201_debouncer_1/debounce_count_24" BEL
        "ee201_debouncer_1/debounce_count_23" BEL
        "ee201_debouncer_1/debounce_count_22" BEL
        "ee201_debouncer_1/debounce_count_21" BEL
        "ee201_debouncer_1/debounce_count_20" BEL
        "ee201_debouncer_1/debounce_count_19" BEL
        "ee201_debouncer_1/debounce_count_18" BEL
        "ee201_debouncer_1/debounce_count_17" BEL
        "ee201_debouncer_1/debounce_count_16" BEL
        "ee201_debouncer_1/debounce_count_15" BEL
        "ee201_debouncer_1/debounce_count_14" BEL
        "ee201_debouncer_1/debounce_count_13" BEL
        "ee201_debouncer_1/debounce_count_12" BEL
        "ee201_debouncer_1/debounce_count_11" BEL
        "ee201_debouncer_1/debounce_count_10" BEL
        "ee201_debouncer_1/debounce_count_9" BEL
        "ee201_debouncer_1/debounce_count_8" BEL
        "ee201_debouncer_1/debounce_count_7" BEL
        "ee201_debouncer_1/debounce_count_6" BEL
        "ee201_debouncer_1/debounce_count_5" BEL
        "ee201_debouncer_1/debounce_count_4" BEL
        "ee201_debouncer_1/debounce_count_3" BEL
        "ee201_debouncer_1/debounce_count_2" BEL
        "ee201_debouncer_1/debounce_count_1" BEL
        "ee201_debouncer_1/debounce_count_0" BEL "VGA_1/DIV_CLK_1" BEL
        "VGA_1/DIV_CLK_0" BEL "calibration_1/T_count2_31" BEL
        "calibration_1/T_count2_30" BEL "calibration_1/T_count2_29" BEL
        "calibration_1/T_count2_28" BEL "calibration_1/T_count2_27" BEL
        "calibration_1/T_count2_26" BEL "calibration_1/T_count2_25" BEL
        "calibration_1/T_count2_24" BEL "calibration_1/T_count2_23" BEL
        "calibration_1/T_count2_22" BEL "calibration_1/T_count2_21" BEL
        "calibration_1/T_count2_20" BEL "calibration_1/T_count2_19" BEL
        "calibration_1/T_count2_18" BEL "calibration_1/T_count2_17" BEL
        "calibration_1/T_count2_16" BEL "calibration_1/T_count2_15" BEL
        "calibration_1/T_count2_14" BEL "calibration_1/T_count2_13" BEL
        "calibration_1/T_count2_12" BEL "calibration_1/T_count2_11" BEL
        "calibration_1/T_count2_10" BEL "calibration_1/T_count2_9" BEL
        "calibration_1/T_count2_8" BEL "calibration_1/T_count2_7" BEL
        "calibration_1/T_count2_6" BEL "calibration_1/T_count2_5" BEL
        "calibration_1/T_count2_4" BEL "calibration_1/T_count2_3" BEL
        "calibration_1/T_count2_2" BEL "calibration_1/T_count2_1" BEL
        "calibration_1/T_count2_0" BEL "calibration_1/T_count3_31" BEL
        "calibration_1/T_count3_30" BEL "calibration_1/T_count3_29" BEL
        "calibration_1/T_count3_28" BEL "calibration_1/T_count3_27" BEL
        "calibration_1/T_count3_26" BEL "calibration_1/T_count3_25" BEL
        "calibration_1/T_count3_24" BEL "calibration_1/T_count3_23" BEL
        "calibration_1/T_count3_22" BEL "calibration_1/T_count3_21" BEL
        "calibration_1/T_count3_20" BEL "calibration_1/T_count3_19" BEL
        "calibration_1/T_count3_18" BEL "calibration_1/T_count3_17" BEL
        "calibration_1/T_count3_16" BEL "calibration_1/T_count3_15" BEL
        "calibration_1/T_count3_14" BEL "calibration_1/T_count3_13" BEL
        "calibration_1/T_count3_12" BEL "calibration_1/T_count3_11" BEL
        "calibration_1/T_count3_10" BEL "calibration_1/T_count3_9" BEL
        "calibration_1/T_count3_8" BEL "calibration_1/T_count3_7" BEL
        "calibration_1/T_count3_6" BEL "calibration_1/T_count3_5" BEL
        "calibration_1/T_count3_4" BEL "calibration_1/T_count3_3" BEL
        "calibration_1/T_count3_2" BEL "calibration_1/T_count3_1" BEL
        "calibration_1/T_count3_0" BEL "calibration_1/T_count1_31" BEL
        "calibration_1/T_count1_30" BEL "calibration_1/T_count1_29" BEL
        "calibration_1/T_count1_28" BEL "calibration_1/T_count1_27" BEL
        "calibration_1/T_count1_26" BEL "calibration_1/T_count1_25" BEL
        "calibration_1/T_count1_24" BEL "calibration_1/T_count1_23" BEL
        "calibration_1/T_count1_22" BEL "calibration_1/T_count1_21" BEL
        "calibration_1/T_count1_20" BEL "calibration_1/T_count1_19" BEL
        "calibration_1/T_count1_18" BEL "calibration_1/T_count1_17" BEL
        "calibration_1/T_count1_16" BEL "calibration_1/T_count1_15" BEL
        "calibration_1/T_count1_14" BEL "calibration_1/T_count1_13" BEL
        "calibration_1/T_count1_12" BEL "calibration_1/T_count1_11" BEL
        "calibration_1/T_count1_10" BEL "calibration_1/T_count1_9" BEL
        "calibration_1/T_count1_8" BEL "calibration_1/T_count1_7" BEL
        "calibration_1/T_count1_6" BEL "calibration_1/T_count1_5" BEL
        "calibration_1/T_count1_4" BEL "calibration_1/T_count1_3" BEL
        "calibration_1/T_count1_2" BEL "calibration_1/T_count1_1" BEL
        "calibration_1/T_count1_0" BEL "calibration_1/state_FSM_FFd1" BEL
        "calibration_1/state_FSM_FFd2" BEL "calibration_1/state_FSM_FFd3" BEL
        "calibration_1/Timeout_30" BEL "calibration_1/Timeout_29" BEL
        "calibration_1/Timeout_28" BEL "calibration_1/Timeout_27" BEL
        "calibration_1/Timeout_26" BEL "calibration_1/Timeout_25" BEL
        "calibration_1/Timeout_24" BEL "calibration_1/Timeout_23" BEL
        "calibration_1/Timeout_22" BEL "calibration_1/Timeout_21" BEL
        "calibration_1/Timeout_20" BEL "calibration_1/Timeout_19" BEL
        "calibration_1/Timeout_18" BEL "calibration_1/Timeout_17" BEL
        "calibration_1/Timeout_16" BEL "calibration_1/Timeout_15" BEL
        "calibration_1/Timeout_14" BEL "calibration_1/Timeout_13" BEL
        "calibration_1/Timeout_12" BEL "calibration_1/Timeout_11" BEL
        "calibration_1/Timeout_10" BEL "calibration_1/Timeout_9" BEL
        "calibration_1/Timeout_8" BEL "calibration_1/Timeout_7" BEL
        "calibration_1/Timeout_6" BEL "calibration_1/Timeout_5" BEL
        "calibration_1/Timeout_4" BEL "calibration_1/Timeout_3" BEL
        "calibration_1/Timeout_2" BEL "calibration_1/Timeout_1" BEL
        "calibration_1/Timeout_0" BEL "calibration_1/dash_cnt_2" BEL
        "calibration_1/dash_cnt_1" BEL "calibration_1/dash_cnt_0" BEL
        "calibration_1/dot_cnt_2" BEL "calibration_1/dot_cnt_1" BEL
        "calibration_1/dot_cnt_0" BEL "dot_dash_1/state" BEL
        "wait_timer_1/I_31" BEL "wait_timer_1/I_30" BEL "wait_timer_1/I_29"
        BEL "wait_timer_1/I_28" BEL "wait_timer_1/I_27" BEL
        "wait_timer_1/I_26" BEL "wait_timer_1/I_25" BEL "wait_timer_1/I_24"
        BEL "wait_timer_1/I_23" BEL "wait_timer_1/I_22" BEL
        "wait_timer_1/I_21" BEL "wait_timer_1/I_20" BEL "wait_timer_1/I_19"
        BEL "wait_timer_1/I_18" BEL "wait_timer_1/I_17" BEL
        "wait_timer_1/I_16" BEL "wait_timer_1/I_15" BEL "wait_timer_1/I_14"
        BEL "wait_timer_1/I_13" BEL "wait_timer_1/I_12" BEL
        "wait_timer_1/I_11" BEL "wait_timer_1/I_10" BEL "wait_timer_1/I_9" BEL
        "wait_timer_1/I_8" BEL "wait_timer_1/I_7" BEL "wait_timer_1/I_6" BEL
        "wait_timer_1/I_5" BEL "wait_timer_1/I_4" BEL "wait_timer_1/I_3" BEL
        "wait_timer_1/I_2" BEL "wait_timer_1/I_1" BEL "wait_timer_1/I_0" BEL
        "wait_timer_1/T" BEL "wait_timer_1/state" BEL
        "letter_sm_1/state_FSM_FFd1" BEL "letter_sm_1/state_FSM_FFd2" BEL
        "letter_sm_1/state_FSM_FFd3" BEL "letter_sm_1/state_FSM_FFd4" BEL
        "letter_sm_1/state_FSM_FFd5" BEL "letter_sm_1/state_FSM_FFd6" BEL
        "letter_sm_1/state_FSM_FFd7" BEL "letter_sm_1/state_FSM_FFd8" BEL
        "letter_sm_1/state_FSM_FFd9" BEL "letter_sm_1/state_FSM_FFd10" BEL
        "letter_sm_1/state_FSM_FFd11" BEL "letter_sm_1/state_FSM_FFd12" BEL
        "letter_sm_1/state_FSM_FFd13" BEL "letter_sm_1/state_FSM_FFd14" BEL
        "letter_sm_1/state_FSM_FFd15" BEL "letter_sm_1/state_FSM_FFd16" BEL
        "letter_sm_1/state_FSM_FFd17" BEL "letter_sm_1/state_FSM_FFd18" BEL
        "letter_sm_1/state_FSM_FFd19" BEL "letter_sm_1/state_FSM_FFd20" BEL
        "letter_sm_1/state_FSM_FFd21" BEL "letter_sm_1/state_FSM_FFd22" BEL
        "letter_sm_1/state_FSM_FFd23" BEL "letter_sm_1/state_FSM_FFd24" BEL
        "letter_sm_1/state_FSM_FFd25" BEL "letter_sm_1/state_FSM_FFd26" BEL
        "letter_sm_1/state_FSM_FFd27" BEL "letter_sm_1/letter_code_25" BEL
        "letter_sm_1/letter_code_24" BEL "letter_sm_1/letter_code_23" BEL
        "letter_sm_1/letter_code_22" BEL "letter_sm_1/letter_code_21" BEL
        "letter_sm_1/letter_code_20" BEL "letter_sm_1/letter_code_19" BEL
        "letter_sm_1/letter_code_18" BEL "letter_sm_1/letter_code_17" BEL
        "letter_sm_1/letter_code_16" BEL "letter_sm_1/letter_code_15" BEL
        "letter_sm_1/letter_code_14" BEL "letter_sm_1/letter_code_13" BEL
        "letter_sm_1/letter_code_12" BEL "letter_sm_1/letter_code_11" BEL
        "letter_sm_1/letter_code_10" BEL "letter_sm_1/letter_code_9" BEL
        "letter_sm_1/letter_code_8" BEL "letter_sm_1/letter_code_7" BEL
        "letter_sm_1/letter_code_6" BEL "letter_sm_1/letter_code_5" BEL
        "letter_sm_1/letter_code_4" BEL "letter_sm_1/letter_code_3" BEL
        "letter_sm_1/letter_code_2" BEL "letter_sm_1/letter_code_1" BEL
        "letter_sm_1/letter_code_0" BEL "letter_sm_1/Tclear" BEL
        "dot_dash_1/S" BEL "dot_dash_1/L";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

